API_BASE=https://ao-85693516310c4e6aadda4b323970e524.ecs.us-east-2.on.aws

BSC_RPC_URL=https://bsc-dataseed.binance.org/
BSC_CHAIN_ID=56

CONSUMER_ADDRESS=0x9E0CE7ea45C846142EfF3C98A33604B2821f84B5
INSCRIPTION_NFT=0x83A0E3C026c219D730e776acc076B4Fcf5eEae0e
PROJECT_TOKEN=0x6f769e65c14ebd1f68817f5f1dcdb61cfa2d6f7e

VITE_BSC_CHAIN_ID=56

SEED_COST_BNB=0.003

LANGUAGE=zh-cn #or en
AOF_CHARACTER_NAME=

ROUND_DELAY_MS=3000

WALLET_PRIVATE_KEY=
